body {
	font-family: 'Roboto', sans-serif;
}

.cabeca {
/*max-width: 90%;  or to whatever you want here */
max-height: 45px; /* or to whatever you want here */
vertical-align: middle;
display: inline-block;
}

.p {
    max-height: 50px;
}
.font-saldo{
    font-size:18px !important;
    font-weight:bold !important;
}
@media only screen and (max-width: 550px) {
    h1.header-h1{
        font-size:14px !important;
        font-weight:bold !important;
    }
}
