<!DOCTYPE html>
<html lang="pt-br" ng-app="multaApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Multa LBFV</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/multa.css" rel="stylesheet">
  </head>
  <body ng-controller="MainController">
    <div class="container">
        <!-- Header -->
        <div class="row" id="top-banner">
          <div class="col-md-12">
            <img ng-src="images/banner.jpg" alt="banner" class="img-responsive center-block">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <!-- <h1 class="header-h1">Por favor, não aperte F5 nessa página. Ela atualiza sozinha!</h1> -->
            <img ng-src="images/aviso.png" alt="aviso" class="img-responsive center-block">
            <div style="background-image:url('images/data.jpg');">TESTE</div>
            <h2>{{ data_hora | date : "dd/MM/yyyy HH:mm:ss" }}</h2>
            <span>Roubos até o momento: {{atual}}</span>
            <p><a href="#lista-saldos" class="btn btn-primary hidden-md hidden-lg">Ir para lista de saldos</a></p>
          </div>
        </div>
        <!-- Fim Header -->
        <!-- Principal -->
        <div class="row">
          <!-- Lista de Roubos -->
          <div class="col-md-9">
            <ul class="list-unstyled" ng-repeat="rb in roubo">
              <li class="bg-success">
                <p> 
                &nbsp; {{rb.horario}}
                <span class="hidden-sm hidden-md hidden-lg"> - </span>
                <img ng-src="http://www.pesmaster.com/pes-2017/graphics/players/player_{{rb.pes_id}}.png" 
                alt="{{rb.jogador}}" class="img-responsive cabeca hidden-xs">
                
                <strong>{{rb.jogador}} ({{rb.posicao}}:{{rb.overall}}) </strong>
                roubado do <strong>{{rb.roubado}} </strong>
                pelo <strong>{{rb.ladrao}} </strong>
                por <strong>{{rb.proposta}}</strong>
                </p>
                </li>
            </ul>
          </div>

          <!-- Lista de Users -->
          <div class="col-md-3">
            <h2 id="lista-saldos" class="text-center">Saldos <br/>
            <a href="#top-banner" class="btn btn-primary hidden-md hidden-lg">Ir para roubos</a></h2>
            <ul class="list-unstyled" ng-repeat="u in listaUsuarios">
              <li class="bg-info font-saldo">{{u.des_nick}}: $ {{u.saldo}}</li>
            </ul>
          </div>
        </div>

        <!-- Footer -->
        <div class="row text-center">
          <div class="col-xs-12">
            <h3>Desenvolvido por Coragi e Scotch - LBFV - Todos os direitos reservados</h3>
          </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="lib/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap.min.js"></script>
  	<script src="lib/angular.min.js"></script>
  	<script src="js/app.js"></script>
  	<script src="js/controller.js"></script>
   	<script src="js/services.js"></script>

  </body>
</html>